<h1>Chosissez une heure et une date pour votre Sceance du film {{nomFilm}}</h1>

<div class="container-fluid">
<div class="col-lg-1 col-centered">
<ngb-datepicker  #dp [(ngModel)]="model" (navigate)="date = $event.next" (click)="changeDate()"></ngb-datepicker>
</div>
<div class="alert alert-info" role="alert">
    <h3>{{choixDate}}</h3>
</div>



<ngb-timepicker [(ngModel)]="time" (navigate)="time = $event.next" (click)="changeHeure()"></ngb-timepicker>
<hr>
<div class="alert alert-info" role="alert">
    <h3>{{heureChoisie}}</h3>
  </div>


<div  ngbDropdown #myDrop="ngbDropdown">
        <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Votre choix de salle</button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <button  type="submit" (click)="onClickSalle(uneSalles)" *ngFor="let uneSalles of salles"  ngbDropdownItem>{{uneSalles.nomSalle}} - Places → {{uneSalles.nbplaces}} - Places handicapet → {{uneSalles.nbPlaceHandicap}}</button>
        </div>
        <div class="alert alert-info" role="alert">
        <h3>{{choixSalle}}</h3>
        </div>
<br>
<button type="submit " (click)="onSubmit() " class="btn btn-danger">Creer Sceance</button>
<p id="elementGet"></p>



<div class="{{Class}}" role="alert">
    {{Response}}
   </div>

  </div>

