

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<h1>Les scéances pour ce films</h1>
<div class="{{Class}}" role="alert">
    {{Response}}
   </div>
<div *ngFor ="let uneSceance of sceances" class="col-6">
    <img class="card-img-top" src={{uneSceance.film.afficheFilm}}   class="col-4">
    <h2 class="col-4">heure et date Scéances: {{uneSceance.film.nomFilm}} </h2>
    <h2 class="col-4">{{uneSceance.dateEtHeureSceance}}</h2>
    <button class= "btn-primary" (click)=Reserver(uneSceance)>Reserver Sceance</button>
    <!-- faire une modale popup pour chosir les places de la salle faire en sorte que dans salle, le json sois modifié-->
   
   


    <div class="{{Class}}" role="alert">
    {{Response}}
   </div>

