body {
    background-image: url("http://www.frontenayrr.fr/images/agenda/cinema-frontenay-rohan-rohan.jpg");
    background-color: #000000;
   }

h1{
    color:rgb(228, 20, 20) ;
}

h2{
    color:rgb(228, 20, 20) ;
}